
<h2 mat-dialog-title>Residency Status</h2>

<mat-dialog-content class="mat-typography">
  <!-- <h3>Develop across all platforms</h3> -->
  <table>
    <tr><td>Billed amount</td><td style="color: gray;">: Rs{{currentData['billed_amount']}}</td></tr>
    <tr><td>Total Paid amount</td><td style="color: green;">: Rs{{currentData['paid_amount']}}</td></tr>
    <tr><td></td><td></td></tr>
    <tr><td>Remaining amount</td><td style="color: red;">: Rs{{currentData['remaining_amount']}}</td></tr>
  </table>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="receivePayment()" >Collect Payment</button>
</mat-dialog-actions>
